.idea
.git
.env

.dockerignore
docker-*.yml
docker/data

db/*
!db/migrate
!db/seeds.rb
log/*
!log/.keep
tmp/*
!tmp/.keep
storage/*
!storage/.keep
vendor/*
!vendor/.keep
!vendor/bundle
public/*
!public/404.html
!public/422.html
!public/500.html
!public/apple-touch-*.png
!public/favicon.ico
!public/robots.txt
